#nav {
    width: 606px;
    margin: auto;
    list-style:none;
    font-size: 20px;
    padding: 1px;
}

#nav li {
    float:left;
    border-right: 1px solid #bbb;

}
#nav li a.active {
    color: red;
}

#nav a {
    color: Silver;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    display:block;
    text-align:center;
    width:150px;
}

#nav li a:hover:not(.active) {
    transition:  0.5s ease-out;
    max-height: 300px;
    color: red;
}

h2 {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: left;
  margin-top: 20px;S
  margin-bottom: 10px;
  width: auto;
  position: absolute;
  left: 150px;
  top: 400px;
  font-size: 200px;

}

h3 {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 10px;
  position: absolute;
  left: 400px;
  top: 400px;
  font-size: 50px;
}

body{
    background-image: url("test2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-family: 'Lato', sans-serif;

}
